<div id="app">
        <h1>Check Out Different Types of Movies</h1>
        <div class="login" ng-controller="loginController">                
                <button type="button" class="btn btn-primary btn-lg" ng-disabled="loginForm.$invalid" ng-click="goToAction()">Action Movie</button>
                <button type="button" class="btn btn-primary btn-lg" ng-disabled="loginForm.$invalid" ng-click="goToComedy()">Comedy Movie</button>
                <button type="button" class="btn btn-primary btn-lg" ng-disabled="loginForm.$invalid" ng-click="goToThriller()">Thriller Movie</button>
                <button type="button" class="btn btn-primary btn-lg" ng-disabled="loginForm.$invalid" ng-click="goToRomance()">Romance Movie</button>
        </div>
        